<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>

      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Salário</th>
      <th scope="col">Aprovado</th>
      <th scope="col">Ação</th>
      <th scope="col">Chave</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pessoa of pessoas; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ pessoa.name }}
      </td>
      <td>{{ pessoa.salary | number }}</td>
      <td>{{ pessoa.approved }}</td>
      <td>
        <button class="btn-danger" (click)="deletePeople(pessoa._id)">Deletar</button>
        <button class="btn-primary" (click)="open(content, pessoa)">Edit</button>

      </td>
      <td>{{ pessoa._id }}</td>
    </tr>
    </tbody>
  </table>
  <label for="name">Nome</label>
  <input type="text" [(ngModel)]="pessoasNew.name" name="name">
  <label for="salary">Salário</label>
  <input type="number" [(ngModel)]="pessoasNew.salary" name="salary">
  <label for="approved">Aprovado</label>
  <input type="checkbox" [(ngModel)]="pessoasNew.approved" name="approved">
  <input name="btn" class="btn-primary" type="button" (click)="postPerson()" value="Adicionar">

</div>

<ng-template #content let-c="close" let-d="dismiss">

  <div class="container">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <label for="name">Nome</label>
    <input type="text" [(ngModel)]="pessoasEdit.name" name="name">
    <label for="salary">Salário</label>
    <input type="number" [(ngModel)]="pessoasEdit.salary" name="salary">
    <label for="approved">Aprovado</label>
    <input type="checkbox" [(ngModel)]="pessoasEdit.approved" name="approved">
    <div class="modal-footer">
      <button type="button" class="btn-success" (click)="EditPerson()">Save</button>
    </div>

  </div>

</ng-template>


